<div class="container" *ngIf="country; else error">
    <mat-list>
        <div mat-subheader>General</div>
        <mat-list-item>
            <mat-icon mat-list-icon>label</mat-icon>
            
            <div mat-line><img class="flag-icon" [src]="country.flag" />{{ country.name }}</div>
            <div mat-line>Name</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>where_to_vote</mat-icon>
            <div mat-line>{{ country.capital }}</div>
            <div mat-line>Capital</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>account_box</mat-icon>
            <div mat-line>{{ country.population | number }}</div>
            <div mat-line>Population</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>flag</mat-icon>
            <div mat-line>{{ country.area ? (country.area | number) : 'No data' }} km<sup>2</sup></div>
            <div mat-line>Area</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>sentiment_satisfied_alt</mat-icon>
            <div mat-line>{{ country.gini ? (country.gini | number) : 'No data' }}</div>
            <div mat-line>Gini</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Currencies</div>
        <mat-list-item *ngFor="let currency of country.currencies">
            <mat-icon mat-list-icon>money</mat-icon>
            <div mat-line>{{currency.name}} ({{ currency.symbol ? currency.symbol : 'No special symbol' }})</div>
            <div mat-line> {{currency.code}} </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Official languages</div>
        <mat-list-item *ngFor="let language of country.languages">
            <mat-icon mat-list-icon>language</mat-icon>
            <div mat-line>{{language.name}}</div>
            <div mat-line> {{language.iso639_2}} </div>
        </mat-list-item>
    </mat-list>
</div>
<a [routerLink]="['/']" mat-raised-button color="warn">Back</a>
<ng-template #error>
    <mat-spinner diameter="40"></mat-spinner>
</ng-template>